/.metadata/
.idea

cache
dag/cache
dag/dag/cache
.cache
dag/.cache
dag/dag/.cache

/__pycache__
*/__pycache__
*.pyc

*config.py

etc
dag/etc
dag/dag/etc
.etc
dag/.etc
dag/dag/.etc

workingfiles

log
dag/log
dag/dag/log/
.log
dag/.log
dag/dag/.log/

test
dag/test
dag/dag/test

tempcache
dag/tempcache
dag/dag/tempcache

tmp
dag/tmp
dag/dag/tmp
.tmp
dag/.tmp
dag/dag/.tmp

*.env